.challenges-container {
    font-family: Arial, sans-serif;
    margin: 2% auto;
    width: 80%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80vh;
    
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .header .icon-left,
  .header .icon-right {
    position: absolute;
    background-image: url('your-icon-url.png'); /* Replace with your actual icon URL */
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
  }
  
  .header .icon-left {
    left: 0;
  }
  
  .header .icon-right {
    right: 0;
  }
  
  h1 {
    text-align: center;
    color: #036B52; /* Green color */
  }
  
  .button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin-top: 20px;
    justify-items: center;
  }
  
  .challenge-button {
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    margin: 5px;
    padding: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s; /* Animation */
  }
  
  .challenge-button:hover {
    transform: scale(1.05); /* Slightly enlarge buttons on hover */
  }
  
  .challenge-button.selected {
    border: 2px solid #036B52; /* Highlight selected challenge */
  }
  
  .challenge-description {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  