#feedback{

    width: 80%;
    margin: 2% auto;
    text-align: center;
    height: 70vh;
}

#feedback  form{
    display: block;
    text-align: left;
}
#feedback input {
    width: 100%;
    margin-bottom: 2%;
 }

 #feedback textarea{
    width: 100%;
 }
 #feedback button{
    border: 2px solid black;
    background-color: #00ff7d;
    color: black;
    width: 115px;
    padding: 14px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
 }