.shortVideoConatiner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.shortVideoframe {
    width: 31%;
    text-align: center;
    margin: 2% 0;
    box-shadow: rgba(4, 4, 4, 0.5) 0px 8px 24px;
}

.shortVideoframe  iframe{
    width: 97%;
    padding: 2% 0;
}

.shortVideoframe h3{
    margin: 4% 0;
}
.shortText{
    margin-left: 10%;

    color: white;
  
    background-color: rgb(27, 64, 52);
    width: 140px;
    
    text-decoration: none;
    padding: 20px;
    text-align: center;
    border-radius: 10px;

    font-weight: bold;

}


.longText{
   margin-left: 1%;
    color: white;
  
    background-color: rgb(27, 64, 52);
    width: 140px;
    
    text-decoration: none;
    padding: 20px;
    text-align: center;
    border-radius: 10px;

    font-weight: bold;
}

.videoClass{
    display: flex;
    justify-content: flex-start;
    margin: 2% 0;
}